*{
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: 'Quicksand', sans-serif;
}
.day{
    background-image: url("../img/day.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.noon{
    background-image: url("../img/noon.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sunset{
    background-image: url("../img/sunset.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.night{
    background-image: url("../img/night.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* navbar*/
nav{
    background-color: gray
}

/* container*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    margin-left: 20px;
    margin-right: 20px;
}


/* left column*/
#activity-list{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.activity-title{
    background-color: rgb(180, 179, 179);
    padding: 10px;
    border-radius: 5px;
}

ul{
    list-style-type: none;
}

.activity-item{
    font-size: 15px;
    padding: 5px;
}
.activity-item:hover {
    color: green
}

/* + */

.chosen {
    color: green;
}



/*center column*/
#today-activity{
    width: 600px;
}
#today-page{
    background-color: rgba(255, 255, 255, 0.5);
    height: 700px;
    margin-top: 30px;
    border-radius: 15px;
}
#today-log{
    height: 670px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#day-activities{
    padding-left: 0px;
}
#today-score{
    display:flex;
    flex-direction: row;
    justify-content: space-around ;

}


/* + */
.score{
    display: flex;
    flex-direction: column;
}





/*right column*/
#log-panel{
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#timer{
    text-align: center;
}
#to-do-list{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 400px;
    height: 380px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}




